.navbar ul{
    display:flex;
    justify-content: center;
    }

.navbar ul li{
    margin:0 24px;
    justify-content: center;
    font-size: xx-large;
    font-weight: bolder;
    }

.container {
    /*margin:0 150px;*/
    width:60vw;
}

.verticalgap{
    margin-top:30px;
}

.h2{
    font-weight:bolder;
}
.h3{
    font-weight:500;
}
.para{
    font-weight:300;
    font-family: 'Gill Sans';
}